 @charset "utf-8";
/* CSS Document */

/*center*/

.shopcart_tit {padding-top: 10px;font-size: 16px;color: #999;line-height: 21px;}
.cart_con {border: 1px solid #ccc;margin-top: 10px;}
.cart_con_tit {background-color: #d3d3d3;font-size: 12px;color: #666;border-bottom: 1px solid #ccc;}

.cart_con_tit li {float: left;text-align: left;}
.cart_con ul {height: 36px;background: #D3D3D3;}
.tit_check {padding: 10px 15px 10px 42px;}
.tit_meg {padding: 10px 80px 10px 0px;width: 280px;}
.tit_price {width: 235px;padding: 10px 0px;}
.cart_con_tit li.tit_quantity {width: 70px;text-align: center;padding: 10px 70px 10px 0px;}
.tit_sum {width: 140px;padding: 10px 0px;}
.tit_action {width: 70px;padding: 10px 0px;}

.cart_form {width: 1003px;}
.shopping_con {padding: 20px 0px 20px 53px;position: relative;display: inline-block;}
.c_meg {float: left;color: #666;}

.cart_con {border: 1px solid #ccc;margin-top: 10px;}
.c_clearfix {clear: both;}
.c_balance {padding: 20px;overflow: hidden;}  
.c_count {float: right;color: rgb(51, 51, 51);}
.c_count p {line-height: 22px;}
.c_rt {width: 100px;display: inline-block;text-align: right;float: right;}
.fs_14 {font-size: 14px;}
.c_lt {width: 65px;text-align: right;display: inline-block;float: right;}
.c_piece {float: right;}
.c_piece i {color: rgb(247, 8, 0);font-family: arial;}

.c_balance_bt {height: 50px;background-color: rgb(242, 242, 242);border-top: 1px solid rgb(232, 232, 232);}
.b_check {float: left;padding: 17px 0px 0px 20px;}
input[type="checkbox"] {height: 13px;vertical-align: middle;width: 13px;}
.b_check label {margin-left: 10px;color: rgb(102, 102, 102);cursor: pointer;}
.b_del {float: left;color: rgb(102, 102, 102);margin-left: 20px;margin-top: 18px;cursor: pointer;}
.b_del i {width: 17px;height: 16px;background-position: -32px -127px;display: inline-block;margin-right: 5px;cursor: pointer;float: left;}
.balance_bt {float: right;width: 160px;text-align: center;font-weight: bold;font-size: 18px;color: rgb(255, 255, 255);background-color: rgb(255, 80, 74);line-height: 50px;}

.c_meg dl {position: relative;}
.c_meg {width: 930px;}
.c_meg dt {width: 80px;height: 80px;padding: 5px;border: 1px solid #ccc;float: left;margin-right: 10px;}
.c_meg dt img {width: 80px;height: 80px;}
.c_meg dd {display: inline-block;width: 320px;}
.c_meg dd a {font-size: 12px; color: #666;}
.c_meg h4 {position: absolute;top: 30px;left: 733px;font-size: 14px;color: #666;}



.c_meg .a1 {width: 50px;height: 37px;border-radius: 5px;background: #D5D5D5;font-size: 17px;line-height: 37px;text-align: center;color: #fff;text-decoration: none;position: absolute;top: 25px;right: 10px;}
.c_meg .a2,.c_meg .a3 {width: 25px;height: 25px;background: #ddd;font-size: 30px;line-height: 20px;text-align: center;color: #fff;text-decoration: none;outline: none;}
.c_meg .a1:hover,.c_meg .a2:hover,.c_meg .a3:hover {background: red;}
.c_meg .a2 {position: absolute;top: 30px;right: 307px;border-radius: 5px 0 0 5px;}
.c_meg .a3 {position: absolute;top: 30px;right: 247px;border-radius: 0 5px 5px 0;}
.c_meg #text1 {width: 25px;height: 25px;background: #FFE5BF;position: absolute;top: 30px;right: 278px;border-radius: 50%;text-align: center;border: 0;outline: none;}

.c_balance {font-size: 12px;}



